.page {
    align-items: center;
    flex-direction: column;
  }
  .form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
  }

  
  .logo {
    margin-bottom: 35;
    height: 50;
    font-weight: bold;
  }
  .header {
    horizontal-align: center;
    margin-bottom: 40;
    font-weight: 600;
    height: 40%;
    margin-bottom: 90;
  }



  .header1 {
    horizontal-align: center;
    margin-bottom: 0;
    font-weight: 600;
    height: 10%;
    margin-bottom: 40;
  }

 
  
  
  .input-field {
    margin-bottom: 10;
    
  }
  .input {
    font-size: 18;
    
  }
  
  .btn-primary {
    height: 50;
    margin:   0 15 10 5;
    background-color: rgb(157, 221, 7);
    border-radius: 5;
    font-size: 20;
    text-align: center;
    font-weight: 600;
  }
  .login-label {

    margin-bottom: 20;
    
  }
  .sign-up-label {
    margin-bottom: 20;
    text-align: center;
  }
  .bold {
   
  }
  .bottom{
    margin:   5 5 15 5;
    margin-top: 25px;
  }