<ActionBar title="Forgot password">

</ActionBar>


<FlexboxLayout class="page">
        <StackLayout class="form">
            <Image class="header" src="~/assets/logo1.png"></Image>
            <!---
            <Label class="header1" text="APP NAME"></Label>
            ---->
            <PreviousNextView>  
        <StackLayout class="input-field">
                <TextField  class="input" hint="Mobile Number "  width="100%" keyboardType="phone" borderBottomColor="#9ddd07" [(ngModel)]="_name"   returnKeyType="next" ></TextField>
                <StackLayout class="hr-light"></StackLayout>
            </StackLayout>
    
        </PreviousNextView>
            <Button  style="color: white;" text="Reset Password"  class="btn btn-primary " (tap)="ForgotPassword()">
                
    
            </Button>
    <ActivityIndicator [busy]="processing" busy="true"  color="{{color}}" ></ActivityIndicator>
        
    
      </StackLayout>
    
      <Label  (tap)="nahsolutions()"   class="login-label sign-up-label" >
        
        <FormattedString  >
            <Span style="font-size:x-large;"  text="NAH SOLUTIONS Pvt Ltd ™ "></Span>
        </FormattedString>
    </Label>
    </FlexboxLayout>
    
