/* Add mobile styles for the component here.  */


/*ActionBar,
TabStrip 
{
    
    
}

*/

/*TabStripItem {
    
}
*/

:root {
    --first-color: #9ddd07;
    --second-color: #ffff8c;
  } 

  .threads-list-wrapper {
    padding: 15;
    }
    
    .threads-list-wrapper > Image {
    height: 64;
    width: 64;
    margin-right: 15;
    }
    


TabStripItem:active {
    color: #9ddd07;
}

TabStripItem:active Label {
    color: rgb(157, 221, 7);
    font-size: 12;
}
.fa {
    font-family: "FontAwesome";
}

.t-36 {
    font-size: 36;
}
TabStripItem Image {
    font-size: 36;
}

/*TabContentItem {
   
}
*/
.home-panel{
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}


.action-bar-label {
    font-family: 'Open Sans', 'OpenSans-Bold';
    font-weight: bold;
}

.item-name {
   
    font-family: 'Open Sans', 'OpenSans-Bold';
    font-weight: bold;
    padding: 2;
}

.item-desc {
   
    font-family: 'Open Sans', 'OpenSans-Regular';
    padding: 2;
}

.item-price {
    color: #c40404;
    font-family: 'Open Sans', 'OpenSans-Bold';
    font-weight: bold;
    padding: 2;
}



.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.video-possion{
  
    padding: 25px 50px 75px 100px;
}



.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.t-36 {
    font-size: 36;
}

.TabStripItem:iconSource{
    height: 100;
}

.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}


.item-name {
    color: #303c47;
    font-size: xx-small;
    font-family: 'Open Sans', 'OpenSans-Bold';
    font-weight: bold;
    padding: 2;
}

.item-desc {
    color: #303c47;
    font-size: xx-small;
    font-family: 'Open Sans', 'OpenSans-Regular';
    padding: 2;
}

.item-price {
    color: #c40404;
    font-size: xx-small;
    font-family: 'Open Sans', 'OpenSans-Bold';
    font-weight: bold;
    padding: 2;
}


.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}

.locationCity {
    color: White;
    font-family: 'Nordica Plus', 'nordicaclassicltext';
    font-weight: bold;
    font-size: 30;
}

.locationCountry {
    color: darkgray;
    font-family: 'Nordica Plus', 'nordicaclassicltext';
    font-size: 18;
    text-transform: uppercase;
}


.target {
    background-color: red;
    color: white;
    vertical-align: middle;
    text-align: center;
    height: 150;
}
.instructions {
    padding: 20;
    font-size: x-large;
}

.list-group-item{
    font-size: large;
}
