<FlexboxLayout class="page">
    <StackLayout class="form">
        <Image class="logo" src="~/assets/logo1.png" ></Image>
        <Label class="font" style="text-align: center; font-size: 55; margin-top: 70;" text="REGISTER"></Label>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">

                <StackLayout row="0" class="input-field">
                   
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>

                <StackLayout row="1" class="input-field">
                    <TextField class="input" hint="name" returnKeyType="done" autocapitalizationType="none"  borderBottomColor="{{color}}" [(ngModel)]="_name" returnKeyType="next" autocorrect="false"
                    autocapitalizationType="none" ></TextField>

                    <TextField  class="input" returnKeyType="done" borderBottomColor="{{color}}"  keyboardType="email" autocapitalizationType="none" 
                    hint="email" [(ngModel)]="_email" 
                    
                    ></TextField>

                    <TextField  class="input" returnKeyType="done" borderBottomColor="{{color}}" keyboardType="phone" autocapitalizationType="none" 
                    hint="Mobile number" [(ngModel)]="_mobile" 
                    
                    ></TextField>
                    <TextField  class="input" 
                    hint="Password" autocapitalizationType="none" borderBottomColor="{{color}}" returnKeyType="done"  [(ngModel)]="_password" secure="true" 
                    
                    ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>


                <StackLayout row="2" class="input-field">
                    <Button  text="SignUp" 
            (tap)="submit()" class="btn btn-primary m-t-20"></Button>

                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>


               

            </GridLayout>
        </PreviousNextView>

       
            <ActivityIndicator [busy]="processing" busy="true" color="{{color}}" ></ActivityIndicator>
           
            
       
    </StackLayout>
    <Label (tap)="Login()"   class="login-label sign-up-label" >
        <FormattedString (tap)="Login()" >
            <Span  text="Already Register - SignIn ?"></Span>
        </FormattedString>
    </Label>
   
</FlexboxLayout>